.c_title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
}

.c_vertical_align_middle{
    vertical-align: middle!important;
}

.c_grid_padding{
    padding-top: 20px!important;
}

.c_portfolio_btn_div{
    text-align: center;
}

.c_portfolio_btn{
    width: 70%;
}

.c_dropzone{
    margin-bottom: 40px!important;
}

.c_dropzone span{
    font-size: 20px;
}

.c_right{
    float: right;
    margin-bottom: 20px;
}

.c_add_text{
    vertical-align: middle!important;
}

.c_box_height{
    height: 40px!important;
}

.c_padding_0{
    padding: 0!important;
}

.c_float_left{
    float: left!important;
}

